<%- include('header') %>

    <body>
        <header>
            <h1>Pokemon Trading</h1>
            <h2>Card sets</h2>
        </header>

        <div>
            <% sets.forEach((bk)=>{ %>
                    <div>
                        <%= bk.set_name %><br>
                    </div>
                </blockquote>
            <% }) %>
        </div>
    </body>

    </html>