<%- include('header') %>
<body>

    <header>
        <h1>Pokemon Trading</h1>
        <h2><%= tdata %></h2>
    </header>
    
    <main>
        <div>
            <% if (source === 'signup') { %>
                <p><a href="/login">Already have an account? Log in</a></p>
                <form action="/signup" method="POST">
                    <p>
                        Username : <input name="signup_username"> <br>
                        E-mail : <input name="signup_email"> <br>
                        Password : <input type="password" name="signup_password">
                    </p>
                    <input type="submit" value="Sign up">
                </form>

            <% } else { %>

                <p><a href="/signup">Sign Up</a></p>
                <form action="/login" method="POST">
                    <p>
                        E-mail : <input name="login_email">
                        Password : <input type="password" name="login_password">
                    </p>
                    <input type="submit" value="Login">
                </form>
                    <p class="error"><%= error %></p>

            <% } %>
        </div>
    </main>
    <%- include('footer') %>
</body>