<%- include('header') %>
<body>

    <header>
       <h3>My Telly</h3>
    </header>
    
    <main>
       <div>
           <form action="/login" method="POST">
               <p>
                   username : <input name="emailField">
               </p>
               <input type="submit" value="login">
           </form>
       </div>
   </main>
   
   </body>