body {
    grid-template-columns: 1fr min(60rem, 90%) 1fr;
}

h1 {
    color: red;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.numButtons {
    margin-top: 12.5px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: var(--standard-border-radius);
    min-width: 250px; /* Adjust this value as needed */
    opacity: 1;
}

.tooltip {
    position: relative;
    border-style: dotted;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

.error {
    color: red;
}